       .colours-pos {
            fill: rgb(241, 252, 184);
            color: rgb(241, 252, 184);
            background-color: rgb(170, 68, 160);
        }
        
        .colours-neg {
            fill: rgb(170, 68, 160);
            color: rgb(170, 68, 160);
            background-color: rgb(241, 252, 184);
        }
        
        .colour-1 {
            fill: rgb(241, 252, 184);
            color: rgb(241, 252, 184);
            background-color: rgb(170, 68, 160);
        }
        
        .colour-2 {
            color: rgb(170, 68, 160);
        }

        .bg-colour-1 {
            background-color: rgb(241, 252, 184);
        }

        .bg-colour-2 {
            background-color: rgb(170, 68, 160);
        }

        .colour-path-1 {
            fill: rgb(241, 252, 184);
        }

        .colour-path-2 {
            fill: rgb(170, 68, 160);
        }